@use "sass:map";
@use '../scss/abstracts/variables' as v ;
@use '../scss/abstracts/mixins' as m ;


@each $home_name in m.$home_name {
  .#{$home_name} {
    grid-area: $home_name;
  }
}

.home_container {
  display: grid;
  @include m.home_container()
}

.detail_container {
  max-height: 100vh;
  display: grid;
  grid-template: {
    columns: 1fr;
    rows: auto auto auto;
  }
  justify-items: center;

  img{
    width: 100px;
    object-fit: cover;
  }
  h1{
    text-align: center;
  }
  p{
    text-align:justify;
  }

}



