@use "sass:map";
@use '../../scss/abstracts/variables' as v;
@use '../../scss/abstracts/mixins' as m;

// CAROUSEL
.carousel_container {
  display: grid;
  height: 100vh;

  grid-template: {
    columns: 1fr;
    rows: repeat(3, minmax(10px, 100vh));
  }

  @include m.carousel_container();

  .carousel_navbar {
    grid-column: 1;
    grid-row: 1;
  }

  .carousel_image {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
  }

  .carousel_button {
    grid-column: 1;
    grid-row: 3 / 3;
    display: flex;
    justify-self: center;
    align-self: flex-end;
    gap: 10px;
    margin: 10px;
  }
}

// ATICULES
.articules_container {
  display: grid;
  @include m.articules_container();

}

@each $articules1_name in m.$articules1_name {
  .#{$articules1_name} {
    grid-area: $articules1_name;

    img {
      max-height: 400px;
      width: 100%;
      object-fit: cover;
      // object-fit: contain;
    }
  }
}

@each $articules2_name in m.$articules2_name {
  .#{$articules2_name} {
    grid-area: $articules2_name;

    display: grid;
    justify-items: center;
    align-content: center;
    min-height: 400px;

    img {
      height: 100px;
      width: 100px;
      object-fit: contain;
    }
  }
}

//INSTAGRAM
.instagram_container {
  margin: 40px;
  display: grid;

  grid-template: {
    columns: repeat(1, minmax(10px, 1fr));
    rows: repeat(auto-fit, minmax(10px, 1fr));
    areas:
      "instagram_title" "instagram_images";
  }

  justify-items: center;
  gap: 10px;

  .instagram_title {
    grid-area: instagram_title;
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 5px
  }

  @include m.instagram_container();


  img {
    height: 100px;
    width: 100px;
    object-fit: cover;
  }
}

// FORM
.form_container {
  display: grid;

  grid-template: {
    columns: repeat(1, minmax(10px, 1fr));
    rows: repeat(auto-fit, minmax(10px, 1fr));
    areas:
      "instagram_title" "form_formulario";
  }

  place-items: center;
  gap: 10px;

  .form_title {
    grid-area: instagram_title;
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 5px;
  }

  .form_formulario {
    background: transparent;
    grid-area: form_formulario;


    .button {
      display: flex;
      flex-direction: row;
      width: 300px;
      border-color: black;
      border-width: 1px;
      border-style: solid;
      justify-content: space-between;
      padding: 10px;

      button {
        background: transparent;
        border: none;

      }

      input {
        width: 280px;
        outline: none;
        background-color: none;
        border: 0;
      }
    }

  }


}
