@use "sass:map";
@use './variables' as v;

// HOME
@mixin home_container {

  @media (min-width: map.get(v.$respons, "xs")) {
    grid-template: {
      columns: 1fr;
      rows: repeat(auto-fit, minmax(10px, 1fr));
      areas:
        "home_carousel"
        "home_articules"
        "home_instagram"
        "home_form"
        "home_footer";
    }
  }

  @media (min-width: map.get(v.$respons, "md")) {
    grid-template: {
      columns: 1fr;
      rows: repeat(auto-fit, minmax(10px, 1fr));
      areas:
        "home_carousel"
        "home_articules"
        "home_instagram"
        "home_form"
        "home_footer";
    }
  }
}

$home_name: home_carousel, home_articules, home_instagram, home_form, home_footer;

// NAVBAR
@mixin navbar_container {

  @media (min-width: map.get(v.$respons, "xs")) {
    grid-template: {
      columns: repeat(auto-fit, minmax(10px, 1fr));
      rows: repeat(auto-fit, minmax(10px, 1fr));
      areas: "navbar_left" "navbar_center" "navbar_right";
    }

    .navbar_left {
      grid-area: navbar_left;
      display: flex;
      place-self: center;
    }

    .navbar_right {
      grid-area: navbar_right;
      display: flex;
      place-self: center;
      gap: 10px;
    }

  }

  @media (min-width: map.get(v.$respons, "md")) {
    grid-template: {
      columns: repeat(auto-fit, minmax(10px, 1fr));
      rows: repeat(auto-fit, minmax(10px, 1fr));
      areas: "navbar_left navbar_center navbar_right";
    }

    .navbar_left {
      grid-area: navbar_left;
      display: flex;
      place-self: center start;
    }

    .navbar_right {
      grid-area: navbar_right;
      display: flex;
      place-self: center end;
      gap: 30px;
    }
  }
}

$navbar_name: navbar_left;

// CAROUSEL
@mixin carousel_container {

  @media (min-width: map.get(v.$respons, "xs")) {
    img {
      min-height: 100%;
      max-width: 100%;
      object-fit: cover;
      // object-fit: contain;
    }
  }

  @media (min-width: map.get(v.$respons, "md")) {
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      // object-fit: contain;
    }
  }


}

$navbar_name: navbar_left;

// ARTICULES
@mixin articules_container {

  @media (min-width: map.get(v.$respons, "xs")) {
    grid-template: {
      columns: 1fr;
      rows: repeat(auto-fit, minmax(10px, 1fr));
      areas:
        "aticules_1_PUFF" "aticules_2_PUFF"
        "aticules_1_RAIN" "aticules_2_RAIN"
        "aticules_1_CART" "aticules_2_CART"
        "aticules_1_NAP" "aticules_2_NAP";
    }
  }

  @media (min-width: map.get(v.$respons, "md")) {
    grid-template: {
      columns: repeat(2, minmax(10px, 1fr));
      rows: repeat(auto-fit, minmax(10px, 1fr));
      areas:
        "aticules_1_PUFF aticules_2_PUFF"
        "aticules_2_RAIN aticules_1_RAIN"
        "aticules_1_CART aticules_2_CART"
        "aticules_2_NAP  aticules_1_NAP";
    }
  }
}

$articules1_name: aticules_1_PUFF, aticules_1_RAIN, aticules_1_CART, aticules_1_NAP;

$articules2_name: aticules_2_PUFF, aticules_2_RAIN, aticules_2_CART, aticules_2_NAP;


// INSTAGRAM
@mixin instagram_container {

  @media (min-width: map.get(v.$respons, "xs")) {
    .instagram_images {
      grid-area: instagram_images;
      max-height: 300px;
      max-width: auto;
      display: grid;

      grid-template: {
        columns: repeat(2, minmax(10px, 1fr));
        rows: repeat(auto-fit, minmax(10px, 1fr));

      }
    }
  }

  @media (min-width: map.get(v.$respons, "md")) {
    .instagram_images {
      grid-area: instagram_images;
      max-height: 200px;
      max-width: auto;
      display: grid;

      grid-template: {
        columns: repeat(3, minmax(10px, 1fr));
        rows: repeat(auto-fit, minmax(10px, 1fr));

      }
    }
  }
}

//FOOTER
@mixin footer_container {
  @media (min-width: map.get(v.$respons, "xs")) {
    grid-template: {
      columns: repeat(auto-fit, minmax(10px, 1fr));
      rows: repeat(auto-fit, minmax(10px, 1fr));
      areas:
        "footer_title" "footer_contact"
        "footer_buy" "footer_social"
        "footer_info";
    }

    justify-items: stretch;
    text-align: center;
  }

  @media (min-width: map.get(v.$respons, "md")) {
    grid-template: {
      columns: repeat(auto-fit, minmax(10px, 1fr));
      rows: minmax(10px, 1fr) minmax(10px, 30px);
      areas:
        "footer_title footer_contact footer_buy   footer_social"
        "footer_info  footer_info    footer_info  footer_info";
    }

    justify-items: normal;
    text-align: start;

  }

}

$footer_name: footer_title, footer_content, footer_contact, footer_buy, footer_social, footer_info;

