@use "sass:map";
@use '../abstracts/variables' as v;

* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: 'Poppins', sans-serif;

  a {
    display: inline-block;
    position: relative;
    color: map.get(v.$color, "verde_oscuro");
    text-decoration: none;

    &:after {
      content: "";
      display: block;
      margin: auto;
      height: 2px;
      width: 0px;
      transition: all .5s;
    }

    &:hover:after {
      width: 100%;
      background: map.get(v.$color, "verde_oscuro");
    }
  }

}