
@use "sass:map";
@use '../../scss/abstracts/variables' as v ;
@use '../../scss/abstracts/mixins' as m ;


.navbar_container{
  // background-color: map.get(v.$color, "azul_oscuro");
  display: grid;
  @include m.navbar_container();
  margin: 10px;

  .navbar_center{
    grid-area: navbar_center;
    display: flex;
    place-content: center;
    gap: 20px;
    margin: 5px;
  }
}